<!DOCTYPE html>
      <html lang="fr">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>test 5</title>
          <link rel="stylesheet" href="style.css">
      </head>
      <body>
          <div class="container">
              <h1>test 5</h1>
              <div class="object-card">
                  <img src="../public/uploads/1739732054800-34 RMP0086740_Boutonnet Laurent - Region Occitanie_original.jpg" alt="test 5">
                  <div class="object-details">
                      <p><strong>Description :</strong> test</p>
                      <p><strong>Lieu trouvé :</strong> Paris</p>
                      <p><strong>Date :</strong> 2025-02-01</p>
                      <p><strong>Ajouté par :</strong> pierre</p>
                  </div>
              </div>
              <a href="../public/index.html" class="back-button">Retour à l'accueil</a>
          </div>
      </body>
      </html>