<!DOCTYPE html>
      <html lang="fr">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>test_iuhdfi</title>
          <link rel="stylesheet" href="style.css">
      </head>
      <body>
          <div class="container">
              <h1>test_iuhdfi</h1>
              <div class="object-card">
                  <img src="../public/uploads/1739912943355-11 RMP0084870_Darnaud-Antoine---Region-Occitanie_original.jpg" alt="test_iuhdfi">
                  <div class="object-details">
                      <p><strong>Description :</strong> çzehgçh</p>
                      <p><strong>Lieu trouvé :</strong> dfb</p>
                      <p><strong>Date :</strong> 0005-05-05</p>
                      <p><strong>Ajouté par :</strong> dfb</p>
                  </div>
              </div>
              <a href="../public/index.html" class="back-button">Retour à l'accueil</a>
          </div>
      </body>
      </html>